*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #090979, #197909);
}
.container{
    max-width: 700px;
    width: 60%;
    background: #fff;
    position: absolute;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #090979, #197909);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    max-height: 300px;
    overflow-y: scroll;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 14px;
    border-bottom-width: 4px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box valid{
    border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    width: 80%;
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three
{
    border-color: #d9d9d9;
    background: #090979;

}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    font-weight: 690;
    color: black;
    border-radius: 24px;
    transition: 0.35s;
    cursor: pointer;
    height: 100%;
    width: 100%;
    outline: none;
}
form .button input:hover{
    background: linear-gradient(-300deg, #090979, #197909);
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}
form .gender-details .category{
    width: 100%;
}
